#container 
  = render partial: "products/header"
  %article#gbl_main
    #select_sex_type
      %nav
        %ul
          %li.allcurrent
            = link_to "ALL"
          %li.men
            = link_to "MEN"
          %li.women
            = link_to "WOMEN"
          %li.kids
            = link_to "KIDS"
    #gbl_body
      %nav#switch_menu
        %ul
          %li.current
            %a おすすめ
          %li
            %a タイムライン
      #content_container
        #sidebar
          %section#search
            %h2.title
              探す
              %ul
                %li.cordinate.icon_font
                  %a コーディネートを探す
                %li.user.icon_font
                  %a ユーザーを探す
                %li.item.icon_font
                  %a アイテムを探す
                %li.shop.icon_font
                  %a ショップを探す
                %li.brand.icon_font
                  %a ブランドを探す
          %section#user
            %h2.title
              ユーザー
            %ol
              %li
                .sub
                  .img
                    %a.over
                .main
                  %p.name
                    %span.namefirst
                      name
                  %p.txt
                    777777
              %li
                .sub
                  .img
                    %a.over
                .main
                  %p.name
                    %span.namefirst
                      name
                  %p.txt
                    777777
              %li.clearfix
                .sub
                  .img
                    %a.over
                .main
                  %p.name
                    %span.namefirst
                      name
                  %p.txt
                    777777
              %li.clearfix
                .sub
                  .img
                    %a.over
                .main
                  %p.name
                    %span.namefirst
                      name
                  %p.txt
                    777777
            %p.btn_more
              %a.over
                もっと見る
          %section#brand
            %h2.title
              ブランド
              %ol
                %li
                  %p.txt
                    %a UNIQULO
                %li
                  %p.txt
                    %a UNIQULO
                %li
                  %p.txt
                    %a UNIQULO
                %li
                  %p.txt
                    %a UNIQULO
              %p.btn_more
                %a.over
                  もっと見る
          %section#trend_keyword
            %p.title
              急上昇キーワード
            .img_after_load.data#keywords
              %ul.link
                %li
                  %a 白ニット
                %li
                  %a 白ニット
                %li
                  %a 白ニット
                %li
                  %a 白ニット
                %li
                  %a 白ニット
          %section#category
            %h2.title
              人気のカテゴリー
            %ul
              %li
                %a トップス
              %li
                %a トップス
              %li
                %a トップス
              %li
                %a トップス
            %p.btn_more
              %a.over
                もっと見る
          
        #content
          -#オールブラックセクション
          %section.pickupTagList
            %h2.title＃オールブラック
            %ul.img_after_load
              - @products.each do |product|
                %li
                  .image_container
                    = link_to (image_tag product.image.url, size: "244x328" if product.image.present?), product_path(product.id)
                  .profile
                    .content
                      .sub
                        %p
                      .main
                        %p.name
                          %span.namefirst
                            = product.user.name
                          %span.icon_font
                        %p.txt
                          170cm
                    .btn_block
                      .btn_follow
                        .btn
                          = link_to "もっと見る"
          -#フリースセクション         
          %section.pickupTagList
            %h2.title＃フリース
            %ul.img_after_load
              %li
                .image_container
                  %p
                .profile
                  .content
                    .sub
                      %p
                    .main
                      %p.name.type_on
                        %span.namefirst
                          name
                        %span.icon_font
                      %p.txt
                        170cm
                  .btn_block
                    .btn_follow
                      %p.btn
              %li
                .image_container
                  %p
                .profile
                  .content
                    .sub
                      %p
                    .main
                      %p.name.type_on
                        %span.namefirst
                          name
                        %span.icon_font
                      %p.txt
                        170cm
                  .btn_block
                    .btn_follow
                      %p.btn
              %li
                .image_container
                  %p
                .profile
                  .content
                    .sub
                      %p
                    .main
                      %p.name.type_on
                        %span.namefirst
                          name
                        %span.icon_font
                      %p.txt
                        170cm
                  .btn_block
                    .btn_follow
                      %p.btn
          
          -#ランキングセクション
          %section#ranking.ranking
            .title_container
              %h2.title
                ランキング
              %p.update
                UPDATE 20:00
            %ol
              %li 
                %p.rank
                  1
                .image_container
                  %p
                .profile
                  .content
                    .sub
                      %p
                    .main
                      %p.name
                        %span.namefirst
                          name
                        %span.icon_font
                          
                      %p.txt
                        180cm
                  .btn_block
                    .btn_follow
                      %p.btn
              %li 
                %p.rank
                  ２
                .image_container
                  %p
                .profile
                  .content
                    .sub
                      %p
                    .main
                      %p.name.type_on
                        %span.namefirst
                          name
                        %span.icon_font
                          
                      %p.txt
                        180cm
                  .btn_block
                    .btn_follow
                      %p.btn
              %li 
                %p.rank
                  ３
                .image_container
                  %p
                .profile
                  .content
                    .sub
                      %p
                    .main
                      %p.name.type_on
                        %span.namefirst
                          name
                        %span.icon_font
                          
                      %p.txt
                        180cm
                  .btn_block
                    .btn_follow
                      %p.btn            
            %p.btn_more
          %section#recommend
            %h2.title
              おすすめコーディネート
            %ul.img_after_load
              %li.large
                .image_container
                  %p
                .profile
                  .content
                    .sub
                      %p
                    .main
                      %p.name
                        %span.namefirst
                          name
                        %span.icon_font
                      %p.txt
                        170cm
                  .btn_block
                    .btn_follow
                      %p.btn
              %li.large
                .image_container
                  %p
                .profile
                  .content
                    .sub
                      %p
                    .main
                      %p.name.type_on
                        %span.namefirst
                          name
                        %span.icon_font
                      %p.txt
                        170cm
                  .btn_block
                    .btn_follow
                      %p.btn
              %li
                .image_container
                  %p
                .profile
                  .content
                    .sub
                      %p
                    .main
                      %p.name.clerafix.type_on
                        %span.namefirst
                          name
                        %span.icon_font
                      %p.txt
                        170cm
                  .btn_block
                    .btn_follow
                      %p.btn
              %li
                .image_container
                  %p
                .profile
                  .content
                    .sub
                      %p
                    .main
                      %p.name.type_on
                        %span.namefirst
                          name
                        %span.icon_font
                      %p.txt
                        170cm
                  .btn_block
                    .btn_follow
                      %p.btn
              %li
                .image_container
                  %p
                .profile
                  .content
                    .sub
                      %p
                    .main
                      %p.name.type_on
                        %span.namefirst
                          name
                        %span.icon_font
                      %p.txt
                        170cm
                  .btn_block
                    .btn_follow
                      %p.btn
              %li
                .image_container
                  %p
                .profile
                  .content
                    .sub
                      %p
                    .main
                      %p.name.type_on
                        %span.namefirst
                          name
                        %span.icon_font
                      %p.txt
                        170cm
                  .btn_block
                    .btn_follow
                      %p.btn
              %li
                .image_container
                  %p
                .profile
                  .content
                    .sub
                      %p
                    .main
                      %p.name.type_on
                        %span.namefirst
                          name
                        %span.icon_font
                      %p.txt
                        170cm
                  .btn_block
                    .btn_follow
                      %p.btn
              %li
                .image_container
                  %p
                .profile
                  .content
                    .sub
                      %p
                    .main
                      %p.name.type_on
                        %span.namefirst
                          name
                        %span.icon_font
                      %p.txt
                        170cm
                  .btn_block
                    .btn_follow
                      %p.btn
        
  = render partial: "products/footer"