.productShow
  = render partial: "products/header"
  .productShow__title
    .productShow__title__box
      .productShow__title__box__bread
        %ol
          %li fashon
          %li naoki
          %li 12/12のコーディネート
    .productShow__title__userHeader
      .productShow__title__userHeader__container
        .productShow__title__userHeader__container__left
          .productShow__title__userHeader__container__left__avatar
          .productShow__title__userHeader__container__left__text
            .productShow__title__userHeader__container__left__text__name
              naoki
            .productShow__title__userHeader__container__left__text__info
              %ul
                %li 174cm
                %li MEN
                %li 22歳
                %li ロングヘアー
        .productShow__title__userHeader__container__right
          .btn_follow
            %p 
              %a フォローする
  .productShow__body
    .productShow__body__left
      -if user_signed_in? && current_user.id == @product.user_id
        .productShow__body__left__more
          %ul.moreList
            %li
              = link_to "編集", edit_product_path, method: :get
            %li
              = link_to "削除", product_path, method: :delete, data: {confirm: "削除しますか？"}
      .productShow__body__left__cordinateImg
        = image_tag @product.image.url, size: "556x714"
      .productShow__body__left__action
        .productShow__body__left__action__function
          .productShow__body__left__action__function__left
            .productShow__body__left__action__function__left__folderBtn
              .productShow__body__left__action__function__left__folderBtn__btn
                = render partial: 'likes/like', locals: { product: @product, products: @products, likes: @likes, like: @like}
          .productShow__body__left__action__function__right
            .productShow__body__left__action__function__right__likeBtn
              229
            .productShow__body__left__action__function__right__commentBtn
              コメント
        .productShow__body__left__action__comment
          .productShow__body__left__action__comment__container
            %h3.title naokiさんへのコメント
            %p.no_comment NO COMMENT
        - if current_user
          = form_with model: [@product, @comment], local: true do |f|
            .productShow__body__left__action__comment__postBox
              .productShow__body__left__action__comment__postBox__left
                %p.icon
                .productShow__body__left__action__comment__postBox__left__text
                  = f.text_area :text, placeholder: "コメントを書く"
              .productShow__body__left__action__comment__postBox__right
                .productShow__body__left__action__comment__postBox__right__btn
                  = f.submit class: "produceShowCommentBtn", value: "送信"
        - else 
          .productShow__body__left__action__comment__postBox
            .productShow__body__left__action__comment__postBox__noText
              コメントするには
              %a( href= "http://localhost:3000/users/sign_up" id="commentLogin")
                ログイン
              または
              %a( href= "http://localhost:3000/users/sign_up" id="commentNewRegister")
                新規会員登録
              が必用です
            
    .productShow__body__right
      .productShow__body__right__cordinateInfo
        %h1 naokiのスウェットを使ったコーディネート
        %p.model_info
          モデル情報: 175cm / MEN
        %p.content_text
          = @product.text
        .metaData
          .metaData__upDate
            2020/12/31 00:00:00
      .productShow__body__right__cordinateItem
        %h2.tit 着用アイテム (2)
        %ul
          %li.itemList
            .left
              %p.img
            .right
              %p.brand
                ジルサンダー
              %p.txt
                %a パンツ(ホワイト系)
              %p.txt サイズ:XL
              %p.count
                %a 着用コーデ:20件
          %li.itemList
            .left
              %p.img
            .right
              %p.brand
                エルメス
              %p.txt
                %a デニムパンツ(ブラック系)
              %p.txt サイズ:X-SMALL
              %p.count
                %a 着用コーデ:7件
      .productShow__body__right__cordinateTag
        %section.tag
          %h3  着用タグからコーディネートを探す
          %ul
            - @tags.each do |tag|
              %li 
                = link_to "#{tag.name}"
        %section.useBrand
          %h3  着用ブランドからコーディネートを探す
          %ul
            %li 
              %a #aaa
            %li 
              %a #bbbb
            %li 
              %a #ccccc
            %li 
              %a #dddddd
            %li 
              %a #eeeeeee
            %li 
              %a #ffffffff
            %li 
              %a #ggggggggg
            %li 
              %a #hhhhhhhhhh
            %li 
              %a #iiiiiiiiiii
            %li 
              %a #jjjjjjjjjjjj
        %section.favoriteBrand
          %h3  naokiがよく着用するブランド
          %ul
            %li 
              %a #aaa
            %li 
              %a #bbbb
            %li 
              %a #ccccc
            %li 
              %a #dddddd
            %li 
              %a #eeeeeee
            %li 
              %a #ffffffff
            %li 
              %a #ggggggggg
            %li 
              %a #hhhhhhhhhh
            %li 
              %a #iiiiiiiiiii
            %li 
              %a #jjjjjjjjjjjj
        %section.kindItem
          %h3  似ているアイテムを使ったコーディネートを探す
          %ul
            %li 
              %a #aaa
            %li 
              %a #bbbb
            %li 
              %a #ccccc
            %li 
              %a #dddddd
            %li 
              %a #eeeeeee
            %li 
              %a #ffffffff
            %li 
              %a #ggggggggg
            %li 
              %a #hhhhhhhhhh
            %li 
              %a #iiiiiiiiiii
            %li 
              %a #jjjjjjjjjjjj
  = render partial: "products/footer"